[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
